---
title: Remodel Smart
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/style.css" />
        <title>{{ title }}</title>
    </head>
    <body>
        <header>
            <a class="logo" href="/">
                <img src="/img/logo.svg" alt="Company logo" />
            </a>
            <nav>
                <a href="/#services">Services</a>
                <a href="/#about">About</a>
                <a href="/#gallery">Gallery</a>
                <a href="/#contact">Contact</a>
            </nav>
        </header>
        <div class="banner">
            <p class="affordable">Affordable Renovations</p>
            <a class="phone" href="tel:4123533090">412-353-3090</a>
            <a href="https://www.facebook.com/RemodelSmartPGH">
                <img class="facebook" src="/img/facebook.svg" />
            </a>
        </div>
        {{ content | safe }}
        <footer>
            <div>
                <div id="contact">
                    <h2><a href="#">Contact Us</a></h2>
                    For free estimates:
                    <div class="phone">Call/Text: 412-353-3090</div>
                    <a class="email" href="mailto:Jsuh03@gmail.com">jsuh03@gmail.com</a>
                    <h2>Follow Us</h2>
                    <a href="https://www.facebook.com/RemodelSmartPGH">
                        <img class="facebook" src="/img/facebook.svg" />
                    </a>
                </div>
                <div>
                    <nav>
                        <a href="/#services">Services</a>
                        <a href="/#about">About</a>
                        <a href="/#gallery">Gallery</a>
                        <a href="/#contact">Contact</a>
                    </nav>
                </div>
            </div>
            <p>&copy; 2021 Remodel Smart</p>
        </footer>
        {% block script %}
        {% endblock %}
    </body>
</html>
