/*
------------------------------------------------------
Common
------------------------------------------------------
*/

:root {
    --site-max-width: 1000px;
    --primary-color: #806C46;
    --highlight-color: #00bb22; /* Made darker than #00cc33 */
    --primary-color-rgb: 128, 108, 70;
    --heading-family: 'Montserrat', sans-serif;
    --dark-color: #1b1c1a;
    --meduim-color: #555555;
    --site-margin: calc((100% - var(--site-max-width)) / 2);
    --horz-padding: 20px;
    --site-padding: calc(var(--site-margin) + var(--horz-padding));
    --primary-filter: invert(42%) sepia(35%) saturate(408%) hue-rotate(1deg) brightness(95%) contrast(97%);
    --dark-color-filter: invert(9%) sepia(6%) saturate(471%) hue-rotate(47deg) brightness(93%) contrast(94%);
    --medium-color-filter: invert(30%) sepia(55%) saturate(17%) hue-rotate(30deg) brightness(91%) contrast(84%);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #464646;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

h2 {
    font-family: var(--heading-family);
    font-weight: normal;
    margin-top: 50px;
    font-size: 1.5em;
    color: var(--highlight-color);
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
}

/*
------------------------------------------------------
Nav (Common)
------------------------------------------------------
*/

nav {
    flex: 1;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    text-rendering: optimizeLegibility;
}

nav a {
    font-size: 0.9em;
    margin: 0 10px;
    color: var(--highlight-color);
    font-weight: bold;
    white-space: nowrap;
}

/*
------------------------------------------------------
Header / Nav
------------------------------------------------------
*/

header {
    margin-left: var(--site-margin);
    max-width: var(--site-max-width);
    display: flex;
    padding: 10px var(--horz-padding);
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin: 18px 0px 22px -5px; /* Adjust for logo built in spacing */
    width: 200px;
}

nav {
    justify-content: flex-end;
}

.banner {
    padding: 10px var(--site-padding);
    background-color: var(--dark-color);
    color: white;
    display: flex;
    align-items: center;
    font-size: 1.1em;
}

.affordable {
    margin-right: 10px;
}

.banner .phone {
    flex: 1;
    text-align: right;
    margin-right: 1em;
    white-space: nowrap;
}

.banner .facebook {
    height: 32px;
}

/*
------------------------------------------------------
Hero / Call to Action
------------------------------------------------------
*/

.heroImage {
    background-image: linear-gradient(to bottom, #00000060, #00000060),
                      url("img/hero.jpg");
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    position: relative;
    display: flex;
    align-items: center;
}

.heroContainer {
    margin-left: var(--site-padding);
    margin-right: 10px;
    max-width: var(--site-max-width);
    color: white;
}

.heroText {
    font-size: 3em;
}

.catch {
    font-family: var(--heading-family);
    font-weight: 700;
    text-transform: uppercase;
}

.fullyInsured {
    font-family: var(--heading-family);
    font-weight: 300;
    font-size: 0.9em;
}

.freeEstimates {
    font-family: var(--heading-family);
    font-size: 0.9em;
    font-style: italic;
    font-weight: 100;
}

.cta {
    margin-top: 25px;
    border: none;
    padding: 0.8em 1.5em;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: var(--highlight-color);
    color: white;
}

/*
------------------------------------------------------
Services
------------------------------------------------------
*/

#services {
    padding: 20px var(--site-margin);
}

#services > div {
    padding: 20px var(--site-margin);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

#services > div > div {
    flex: 1 0 29%;
    padding: 10px;
    text-align: center;
    background-color: rgba(var(--primary-color-rgb), 0.1);
    border-radius: 5px;
    font-size: 0.8em;
}

#services img {
    filter: var(--primary-filter);
    width: 32px;
}

/*
------------------------------------------------------
About Us
------------------------------------------------------
*/

#about > div {
    align-items: center;
    justify-content: space-around;
}

#about > div:first-of-type {
    padding: 20px var(--site-padding);
    display: flex;
    background-color: var(--primary-color);
    color: white;
}

#about > div:last-of-type {
    display: flex;
    flex-direction: row-reverse;
    background-color: rgba(var(--primary-color-rgb), 0.5);
    padding: 20px var(--site-padding);
    color: var(--primary-color)
}

#about > div > div {
    display: flex;
    align-items: center;
    width: 250px;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    font-size: 1.1em;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.05);
}

#about p {
    flex: 1;
    text-align: center;
    margin: 20px;
    max-width: 450px;
}

/*
------------------------------------------------------
Gallery
------------------------------------------------------
*/

#gallery {
    padding: 20px var(--site-padding);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.project {
    background-color: #e9e6c9;
    position: relative;
}

.project:before {
    content: '';
    display: block;
    padding-top: 100%;
}

.project img {
    filter: brightness(0.8);
    position: absolute;
    top: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-row-start: 1;
}

.project h2 {
    position: absolute;
    margin: 0;
    font-weight: 800;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
    grid-column-start: 1;
    grid-row-start: 1;
}

/*
------------------------------------------------------
Gallery Thumbnails
------------------------------------------------------
*/

#thumbnails {
    margin: 20px var(--site-margin);
    padding: 10px var(--horz-padding);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.thumbnail {
    display: grid;
    grid-template-areas: "main";
    justify-items: center;
    align-items: center;
}

.thumbnail img:first-child {
    width: 200px;
    cursor: pointer;
    grid-area: main;
    border-radius: 5px;
}

.thumbnail .magnify {
    position: relative;
    display: none;
    justify-items: center;
    align-items: center;
    grid-area: main;
    background-color: #242424;
    border-radius: 22px;
    width: 44px;
    height: 44px;
}

.thumbnail:hover .magnify {
    display: block;
}

.thumbnail .magnify img {
    position: absolute;
    left: 12px;
    top: 12px;
    width: 20px;
    filter: invert(97%) sepia(11%) saturate(511%) hue-rotate(218deg) brightness(119%) contrast(100%);
}

#viewer {
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
}

#viewer > div {
    background-color: white;
    padding: 6px;
    min-width: 1px;
    min-height: 1px;
    border-radius: 10px;
    margin: 10px;
}

#viewer .image {
    position: relative;
    margin-bottom: 6px;
}

#viewer .image > img {
    display: block;
    max-width: calc(100%);
    max-height: calc(100vh - 80px);
    border-radius: 5px;
}

#viewer .buttons img,
#viewer .control img {
    filter: var(--medium-color-filter);
}

#viewer .image .buttons {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

#viewer .image .prev,
#viewer .image .next {
    flex: 1;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
}

#viewer .image .prev {
    justify-content: flex-start;
}

#viewer .image .next {
    right: 0;
    justify-content: flex-end;
}

#viewer .image .prev div,
#viewer .image .next div {
    display: none;
    padding: 5px 10px;
    background-color: white;
}

#viewer .image .prev div {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

#viewer .image .next div {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

#viewer .image .prev:hover div,
#viewer .image .next:hover div {
    display: inline-block;
}

#viewer .image .prev div img,
#viewer .image .next div img {
    height: 10px;
}

#viewer .image .prev div img {
    transform: scaleX(-1);
}

#viewer .control {
    display: flex;
    align-items: center;
    gap: 6px;
}

#viewer .control button {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: 1px solid #ccc;
}

#viewer .control .prev,
#viewer .control .next {
    height: 20px;
    width: 20px;
}

#viewer .control img {
    height: 50%;
}

#viewer .play img,
#viewer .next img {
    margin-left: 10%;
}

#viewer .control .prev img {
    transform: scaleX(-1);
}

#viewer .caption {
    flex: 1;
    font-size: 0.8em;
    color: #aaa;
}

#viewer .close img {
    height: 40%;
}

/*
------------------------------------------------------
Reviews
------------------------------------------------------
*/

#reviews {
    text-align: center;
}

#reviews p {
    font-size: 1.5em;
}

.slideshow {
    background:
        repeating-linear-gradient(
            -45deg,
            rgba(var(--primary-color-rgb), 0.04), 0px,
            rgba(var(--primary-color-rgb), 0.04) 50px,
            rgba(var(--primary-color-rgb), 0) 50px,
            rgba(var(--primary-color-rgb), 0) 100px );
    padding: 20px var(--site-padding);
    display: flex;
    align-items: center;
    background-color: rgba(var(--primary-color-rgb), 0.1);
}

.slide {
    display: none;
    flex: 1;
}

.slideshow .prev,
.slideshow .next {
    cursor: pointer;
    user-select: none;
    padding: 16px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
}

.slideshow .prev {
    border-radius: 0 6px 6px 0;
}

.slideshow .next {
    border-radius: 6px 0 0 6px;
}

.slideshow .prev:hover,
.slideshow .next:hover {
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from { opacity: .4 }
    to { opacity: 1 }
}

/*
------------------------------------------------------
Footer
------------------------------------------------------
*/

footer {
    background-color: var(--dark-color);
    padding: 20px var(--site-padding);
    color: #aaaaaa;
    margin-top: 50px;
}

footer > div {
    display: flex;
}

footer > div > div {
    flex: 1;
}

footer h2 {
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 1.5em;
    text-align: left;
    color: #777;
}

footer h2:first-of-type {
    margin-top: 0;
}

footer > div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer .facebook {
    height: 26px;
}

footer nav {
    flex-direction: column;
    justify-content: center;
}

footer nav a {
    font-size: 1.2em;
    padding: 6px 0;
    color: #777;
}

footer p {
    text-align: center;
    font-size: 0.8em;
    margin-bottom: 0;
}

/*
------------------------------------------------------
Mobile Support
------------------------------------------------------
*/

@media all and (max-width: 1000px) {
    :root {
        --site-margin: 0px;
    }
}

@media all and (max-width: 600px) {
    .heroText {
        font-size: 2.25em;
    }

    #services > div {
        gap: 10px;
    }

    #services > div > div {
        flex: 1 0 40%;
    }

    #about > div:first-of-type {
        flex-direction: column;
    }

    #about > div:last-of-type {
        flex-direction: column-reverse;
    }

    .projects {
        gap: 10px;
    }

    .project h2 {
        font-size: 1.1em;
    }

    #reviews p {
        font-size: 1.15em;
    }
}

@media all and (max-width: 550px) {
    header {
        flex-direction: column;
    }
}
